body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .header {
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .yellow {
    background-color: #ffd600;
  }
  
  .line-info {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  .line-name {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .station-list {
    list-style: none;
    padding: 20px;
    padding-right: 30px;
  }
  
  .station-list li {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 16px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .yellow-dot {
    background-color: #ffd600;
  }
  
  .map-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffd600;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  .salik-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: auto;
    opacity: 0.9;
    z-index: 100;
  }